{% extends 'base.html' %}
{% load socialaccount %}


{% block title %}Password reset{% endblock %}


{% block content %}
    <div class="container">
        <div class="auth-form-container">
            <h1 class="page-title">Password reset</h1>

            <form method="post" action="." class="auth-form">
                {% csrf_token %}
                
                <input type="email" name="email" class="auth-form__text-field" placeholder="Email"><br>

                <button type="submit" class="auth-form__submit-button blue-button">Continue</button>
            </form>

        </div>
    </div>
{% endblock %}