{% extends 'base.html' %}

{% block title %}Setting up a password{% endblock %}


{% block content %}
    <div class="container">
        <div class="auth-form-container">
            <h1 class="page-title">Setting up a password</h1>
            <p class="error_message"></p>

            <form method="post" action="{% url 'register_set_password' uidb64=uid token=token %}" class="auth-form">
                {% csrf_token %}
                <input type="password" name="password1" placeholder="Пароль" class="auth-form__text-field" id="password1"><br>
                <input type="password" name="password2" placeholder="Підтвердження паролю" class="auth-form__text-field" id="password2">
                <button type="submit" class="auth-form__submit-button blue-button">Continue</button>
            </form>
        </div>
    </div>
    <script>
        document.querySelector('.auth-form').addEventListener('submit', function(e){
            const password1 = document.querySelector('#password1').value
            const password2 = document.querySelector('#password2').value

            if (password1 != password2){
                e.preventDefault()
                document.querySelector('.error_message').textContent = 'Passwords do not match'
            }
        })
    </script>
{% endblock %}